<%include ./partials/header%>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
<link rel="stylesheet" href="/stylesheets/landing_cases.css" />
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- ITEM Light -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              ITEM Light
            </h5>

            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Single
                User
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Sentiment
                Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Deal Room
                Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Market
                Size
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span
                >Competitor Analysis
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span>Market
                Funnel for products
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span>Patent
                analysis
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                Status Reports
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase"
              >START</a
            >
          </div>
        </div>
      </div>
      <!-- ITEM Large -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              ITEM Large
            </h5>

            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Many Users</strong>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Sentiment
                Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Deal Room
                Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Market
                Size
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                >Competitor Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Market
                Funnel for products
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Patent
                analysis
              </li>
              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span>Monthly
                Status Reports
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase"
              >START</a
            >
          </div>
        </div>
      </div>
      <!-- ITEM Premium -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              ITEM Premium
            </h5>

            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Many Users</strong>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Sentiment
                Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Deal Room
                Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Market
                Size
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                >Competitor Analysis
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Market
                Funnel for products
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Patent
                analysis
              </li>

              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Monthly
                Status Reports
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase"
              >START</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
