<%include ./partials/header%>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">TEM TOOL</h1>
    <p class="lead">For every situation we have an application. choose one.</p>
  </div>
</div>

<h1 class="red-text text-center">
  This will be theLanding page displaying the use cases in two boxes for ITEM
  Light and ITEM Large
</h1>

<%include ./partials/footer%>
